[run]
branch = True
source = q2_qemistree/
omit =
    */tests*
    */__init__.py
    q2_qemistree/_version.py
    versioneer.py

[report]
omit =
    */tests*
    */__init__.py
    q2_qemistree/_version.py
    versioneer.py
